<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Open Shop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Add custom CSS for hover effects -->
<style>
  .hover-shadow {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  
  .card {
    transition: all 0.3s ease;
  }
  
  .card .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: #0d6efd;
    border-left: 3px solid #0d6efd;
  }
</style>
  </head>

  <body class="d-flex flex-column min-vh-100" style="Manrope">

    <%= render "shared/navbar" %>

    <main class="flex-fill">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>

  </body>
</html>
